APP_ENV=local
APP_PORT=8085
APP_HOST_PORT=8085
HTTPS_HOST_PORT=18482
GIN_MODE=debug
DLV_API_PORT=2345
DLV_WORKER_PORT=2346
WORKER_ID=recorder-worker-local
WORKER_PORT=8090
WORKER_HOST_PORT=8090
WORKER_INTERNAL_URL=http://host.docker.internal:18080/api/v1/record-worker
STORAGE_PATH=/storage
FFMPEG_PATH=ffmpeg
WEBRTC_UDP_PORT=50000
WEBRTC_TCP_PORT=50000
WEBRTC_NAT_IPS=127.0.0.1

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433
POSTGRES_DB=go_recorder
POSTGRES_USER=go_recorder
POSTGRES_PASSWORD=go_recorder_pass
POSTGRES_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_HOST_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0
RECORD_LOCK_TTL=6h

RABBIT_MQ_NETWORK=infra_network
RABBIT_MQ_USER=guest
RABBIT_MQ_PASSWORD=guest
RABBIT_MQ_HOST=rabbitmq
RABBIT_MQ_PORT=5672
RABBIT_MQ_VHOST=/
RABBIT_MQ_EXCHANGE=go-recorder.commands
RABBIT_MQ_QUEUE=go-recorder.recording.commands
RABBIT_MQ_ROUTING_KEY=record.commands

RATE_LIMIT_ENABLED=true
RATE_LIMIT_WINDOW=1m
RATE_LIMIT_DEFAULT_RPM=240
RATE_LIMIT_RECORD_START_CONFERENCE_RPM=12
RATE_LIMIT_RECORD_START_IP_RPM=40
RATE_LIMIT_RECORD_END_RECORD_RPM=40
RATE_LIMIT_RECORD_END_IP_RPM=120
RATE_LIMIT_WEBRTC_OFFER_RECORD_RPM=40
RATE_LIMIT_WEBRTC_OFFER_IP_RPM=120
RATE_LIMIT_RECORD_LIST_IP_RPM=240
RATE_LIMIT_RECORD_READ_IP_RPM=480

MINIO_ROOT_USER=go_recorder
MINIO_ROOT_PASSWORD=go_recorder_pass
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_ENDPOINT=https://localhost:18482
MINIO_PORT_HOST=9000
MINIO_CONSOLE_PORT_HOST=9001
MINIO_BUCKET=recordings
MINIO_USE_SSL=false
