.env
.env.local
.DS_Store

dockers/postgres/data/
dockers/api/tmp/
dockers/redis/data/
dockers/rabbitmq/data/
dockers/memcached/data/
dockers/minio/data/

tmp/
*.log
.idea/
/dockers/storage/data/records/

dockers/https/certs/*
!dockers/https/certs/.gitkeep
